<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/index.css">
    <title>minsisch</title>
</head>
<body>
    <nav style="padding-top: 20px;">
        <table>
            <th><a href="#" style="font-style: italic; font-weight: lighter;">about</a></th>
            <th><a href="#" style="font-style: italic; font-weight: lighter; font-size: 30px; text-decoration: none; color: rgb(252, 255, 211);">minsisch</a></th>
            <th><a href="#" style="font-style: italic; font-weight: lighter;">project</a></th>
        </table>
    </nav>
    <table>
        <th style="padding-top: 35px; color: rgb(252, 255, 211); font-weight: lighter;">today mood</th>
        <tr>
            <td>
                <select name="mood">
                    <option value="">mood</option>
                    <option value="">greeenary</option>
                    <option value="">bloooming</option>
                    <option value="">pinkiii</option>
                    <option value="">yelloow</option>
                </select>
            </td>
        </tr>
    </table>
    <table>
        <th style="padding-top: 50px;">💛</th>
    </table>
    <table class="img-table">
        <tr>
            <td>
                <div class="cut-img">
                    <a href="#"><img src="./static/image/사생활.jpg"></a>
                    <div class="overlay">
                        <div class="more">💙</div>
                    </div>
                </div>
            </td>
            <td>
                <div class="cut-img">
                    <a href="#"><img src="./static/image/1+(27).jpg"></a>
                    <div class="overlay">
                        <div class="more">💙</div>
                    </div>
                </div>
            </td>
            <td>
                <div class="cut-img">
                    <a href="#"><img src="./static/image/1+(36).jpg"></a>
                    <div class="overlay">
                        <div class="more">💙</div>
                    </div>
                </div>
            </td>
            <td>
                <div class="cut-img">
                    <a href="#"><img src="./static/image/kk.png"></a>
                    <div class="overlay">
                        <div class="more">💙</div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="cut-img">
                    <a href="#"><img src="./static/image/yk.jpg"></a>
                    <div class="overlay">
                        <div class="more">💙</div>
                    </div>
                </div>
            </td>
            <td>
                <div class="cut-img">
                    <a href="#"><img src="./static/image/is.jpg"></a>
                    <div class="overlay">
                        <div class="more">💙</div>
                    </div>
                </div>
            </td>
            <td>
                <div class="cut-img">
                    <a href="#"><img src="./static/image/jy.jpg"></a>
                    <div class="overlay">
                        <div class="more">💙</div>
                    </div>
                </div>
            </td>
            <td>
                <div class="cut-img">
                    <a href="#"><img src="./static/image/m.jpg"></a>
                    <div class="overlay">
                        <div class="more">💙</div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    
</body>
</html>